h1{
  position:relative;
 display:inline-block;
  
}
h1::after{
  position: absolute;
  content: '';
  background: red;
  width: 0;
  height: 5px;
  
  left: 0;
  bottom:0;
  opacity: 0;
  transition: 0.4s;
  
}
h1::before{
  position: absolute;
  content: '';
  background: red;
  width: 0;
  height: 5px;
  
  right: 0;
  top:0;
  opacity: 0;
  transition: 0.4s;
}
h1:hover::after{
  opacity: 1;
  width: 100%;
}
h1:hover::before{
  opacity: 1;
  width: 100%;
}